.buttonColor {
    color: white !important
}

#book {
    color: white;
}

.help-block,
#management {
    color: red;
}

#new-item {
    color: white;
}

.bg {
    background-color: rgb(70, 70, 70);
}